*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #fdffff;
}

body {
    margin: 0 auto;
    max-width: 82rem;
    width: 100%;
    min-height: 100vh;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 1rem;
    list-style: none;
    flex-wrap: wrap;
}

li {
    margin-top: 1rem;
    padding: .5rem 1rem;
    border: 1px solid #c7bdb4;
    border-radius: 3.125rem;
    cursor: pointer;
    transition: background .3s;
}

li:hover {
    background-color: #eaded4;
}

li a {
    text-decoration: none;
    display: inline-block;
    color: #2d1328;
}

.gallery {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    background: #e0ebfa;
    border-radius: 10px;
    box-shadow: rgba(199, 189, 180, .3) 0px 1px 2px 0px, rgba(199, 189, 180, .15) 0px 1px 3px 1px;
}

.category {
    display: none;
}

img {
    width: 100%;
    height: auto;
    padding: .5rem;
    object-fit: cover;
    border-radius: inherit;
    box-shadow: rgba(127, 67, 174, .4) 0px 2px 4px, rgba(127, 67, 174, .3) 0px 7px 13px -3px, rgba(127, 67, 174, .2) 0px -3px 0px inset;
}

#all:target .category,
.category:target {
    display: block;
}
