*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background: #fdffff;
}
body {
    margin: 0 auto;
    max-width: 82rem;
    width: 100%;
    height: 100vh;
    /* display: grid;
    place-items: center; */
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 1rem;
    list-style: none;
}
li {
    /* background: #eaded4; */
    margin-top: 1rem;
    padding: .5rem 1rem;
    border: 1px solid #c7bdb4;
    border-radius: 3.125rem;
    cursor: pointer;
    transition: background .3s;
}
li:hover {
    background-color: #eaded4;
}
li a {
    text-decoration: none;
    display: inline-block;
    color: #2d1328;
}
.all {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    background: #e0ebfa;
    border-radius: 10px;
    box-shadow: rgba(199, 189, 180, .3) 0px 1px 2px 0px, rgba(199, 189, 180, .15) 0px 1px 3px 1px;
}
img {
    width: 100%;
    height: 9.375rem;
    object-fit: cover;
    /* border: 1px solid #7f43ae; */
    border-radius: inherit;
    box-shadow: rgba(127, 67, 174, .4) 0px 2px 4px, rgba(127, 67, 174, .3) 0px 7px 13px -3px, rgba(127, 67, 174, .2) 0px -3px 0px inset;
}